ISSUER=http://localhost:9876/oidc
POSTGRES_PRISMA_URL='postgres://postgres:secret123@localhost:5432/idp'
POSTGRES_URL_NON_POOLING='postgres://postgres:secret123@localhost:5432/idp'
DEBUG=oidc:events:*
OTEL=1
GRANTS_DEBUG=1
DASHBOARD_CLIENT_ID=<> # client id of the dashboard app, see scripts/init.js
DEFAULT_GOOGLE_CLIENT_ID=
DEFAULT_GOOGLE_CLIENT_SECRET=
DEFAULT_GITHUB_CLIENT_ID=
DEFAULT_GITHUB_CLIENT_SECRET=
